<section>
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </span>
            <input type="text" class="form-control" placeholder="Filtrar por cidade" aria-label="Filtrar por cidade" aria-describedby="Filtrar por cidade">
            <button class="btn btn-outline-primary" type="button">Pesquisar</button>
        </div>
    </form>
</section>
<section class="d-flex flex-wrap">
    @for(housingLocation of housingLocationList; track housingLocation.id){
        <app-housing-location class="mx-auto my-2" [housingLocation]="housingLocation"></app-housing-location>
    } @empty{
        lista vazia
    }
  </section>