<div class="bg-opacity-75 bg-primary justify-content-center gap-3 d-flex p-3 mt-5 flex-wrap">
    <div class="col-xl-3 col-md-4 py-md-5 py-3 text-light">
        <div class="p-3 text-start border-radius-lg">
            <button class="btn btn-outline-light disabled shadow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1" />
                </svg>
            </button>
            <h5 class="mt-3">Atendimento</h5>
            <p>Você tem atendimento humanizado do começo ao fim da negociação, o que auxilia a encontrar o imóvel certo
                e com as melhores condições.</p>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 py-md-5 py-3">
        <div class="p-3 text-start bg-white border-radius-lg shadow-lg rounded-4">
            <button class="btn btn-outline-primary disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1" />
                </svg>
            </button>
            <h5 class="mt-3">Segurança</h5>
            <p>Você tem a certeza que está participando de uma negociação segura e transparente, que garante
                tranquilidade durante todo o processo de locação.</p>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 py-md-5 py-3 text-light">
        <div class="p-3 text-start border-radius-lg">
            <button class="btn btn-outline-light disabled shadow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1" />
                </svg>
            </button>
            <h5 class="mt-3">Praticidade</h5>
            <p>Tudo é fácil, rápido e seguro: para o proprietário, a garantia do aluguel na conta todo mês e para o
                locatário, nada de fiador, apenas a análise de crédito.</p>
        </div>
    </div>
</div>