.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none;    /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }